<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>COTTON PLANT DISEASE PREDICTION</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>
 
<body style="background-color:#E9EDC9">
 
    <div>
        <img src="/static/images/cotton plant banner.png" class="w3-border w3-padding" alt="Indian AI Production"
            style="width:100%" style="height: 400px">
    </div>
 
    <div class="container my-2">
        <div class="row mb-5">
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                     
                </span>
            </div>
 
            <div class="col-sm">
 
                <div>
                    <h1 style="padding: 15px; background-color: #E9EDC9; color: #E9EDC9;" class="text-center mb-5 content-h1 rounded">
                    {{pred_output}} </h1> 
                </div>
                <div class="details">
 
                    <h6>
                        <h1 style="padding: 15px; background-color: gray; color:white;" class="text-center mb-5 content-h1 rounded">Diseased Cotton Leaf</h1>
                        <b style="font-size: 30px;">Disease Name / रोग का नाम :</b></br>
                        <h4 style="line-height: 100%;">Verticillium Wilt <br><br>  मिट्टी जनित फफूंद के कारण पौधे का मुरझाना

                            
                        </h4><br>
                        <!-- <b>कपाशीच्या झाडावर कोणताही रोग नाही आहे. </b></br>
                        रासायनिक खत झाडाच्या पानावर पडल्यामुळे पान जळल आहे, तरी काही चिंता करायची गरज नाही. <b>मजूरांना
                            कंबर बागवून खत टाकायला सांगा. </b></br></br>
                        <b>કપાસના ઝાડ ઉપર કોઈ રોગ નથી.</b></br></br>
                        <b>ಹತ್ತಿ ಮರದ ಮೇಲೆ ಯಾವುದೇ ರೋಗವಿಲ್ಲ..</b></br></br>
                        <b>పత్తి చెట్టుపై వ్యాధి లేదు..</b></br></br> -->
                        <h2> Solution for Disease / रोग का उपचार : </h2>
                        <p><strong>Use any one Systemic Insecticide, which contain<i> Flonicamid 50%/ Thiamethoxam 25% WG / Imidacloprid
                        17.8 Sl / Acetamiprid 20% SP.</i></strong></p>
                        <p>किसी भी एक प्रणालीगत कीटनाशक का प्रयोग करें, जिसमें फ्लोनिकमिड ५०% / थियामेथोक्साम 25% WG / इमिडाक्लोप्रिड
                        १७.८
                        एसएल / एसिटामिप्रिड २०% एसपी है।</p>
 
                    </h6>
                </div>
            </div>
        </div>
    </div>
</body>
 
</html>